 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sticky Navbar */
.navbar {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

/* Logo */
.navlogo {
  font-size: 32px;
  font-weight: bold;

}

/* Menu Lists */
.menu ul {
  list-style: none;
  display: flex;
  gap: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;
}

.menu ul a:hover {
  color: #9f8a61;

}

/* Dropdown */
.dropdown {
  position: relative;
}

/*  Submenu */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  /* margin-top: 8px; */
  margin-top: 20px;
  background: #ffffff;
  min-width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;

}

/* Submenu Links */
.submenu li a {
  padding: 5px 8px;
  display: block;
}

.submenu li a:hover {
  background: #f8f6f2;
}

/* Show dropdown on hover */
.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}


/* Shop Page */
/* Category */

.backmenu{
  display: flex;
  font-size: 12px;
  
  margin-left: 20px;
  margin-top: 10px;
  gap: 10px;
}
.backmenu a{
text-decoration: none;
color: #666;
}

.category h2 {
  text-align: center;
  padding-top: 35px;
  padding-right: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 2px;
}

.category p {
  font-size: 16px;
  font-weight: 200;
  color: #666;
  text-align: center;
  
  padding-bottom: 35px;
}

/*Products (shop pg)*/
.products {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* CARD */
.product-card {
  background-color: #ffffff;
  width: 210px;
  height: 350px;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.08);
}



/* IMAGE WRAPPER */
.product-image {
  position: relative;
  width: 100%;
  height: 200px;

}

/* IMAGES */
.product-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  
}

/* DEFAULT IMAGE */
.img-default {
  opacity: 1;
}

/* HOVER IMAGE */
.img-hover {
  opacity: 0;
   transition: transform 2.0s ease;
  
}

/* HOVER EFFECT */
.product-link:hover .img-default {
  opacity: 0;
}

.product-link:hover .img-hover {
  opacity: 1;
   transform: scale(1.09);
}




.product-card h3 {
  font-size: 16px;
  margin: 12px 0 6px;
  text-align: center;
}

.price {
  font-size: 15px;
  font-weight: 600;
  
  color: #333;
  text-align: center;
  margin-bottom: 12px;
}

.product-card footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  
}

.product-actions .button{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  background: #b7a37a;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.product-actions .button:hover {
  background: #9f8a61;
  transform: scale(1.07);
}

/*Detail page*/
 .slider{
  display: flex;
  margin-top: 40px;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
  }

/* Side pics*/
.thumb-slider {
  width: 100px;
  
  
  }

.thumb-slider img {
  width: 50px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 4px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
}


.thumb-slider img:hover{
  border: 1px solid #000;
}


/*main pic*/
.main-slider {
  width: 430px;
}

.main-slider img {
  width: 100%;
  height: 500px;
  transition: opacity 0.35s ease;
}

.details {
  width: 350px;
  margin-left: 50px;
  font-family: 'Montserrat', sans-serif;
  }

.details h2{
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
}

/* Section headings */
.details h3 {
  font-size: 16px;
  padding-bottom: 5px;
  font-family: 'Playfair Display', serif;
}

/* Bullet list */
.details ul {
  padding-left: 22px;
  padding-bottom: 10px;
  }

.details ul li {
  font-size: 12px;
  line-height: 1.7;
}

/* Paragraph text */
.details p {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;
  padding-bottom: 10px;

}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 10px 30px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: #b7a37a;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition:  0.4s ease;
}
 .button:hover {
  background: #9f8a61;
  transform: scale(1.05);
}
/* Checkout Form */

.checkoutlogo{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
}
.shipping-box{
  margin-bottom:20px;
  margin-left: 14px;
  width: 402px;
}

.shipping-box label{
  
  font-size:14px;
  margin-bottom:6px;
  color:#555;
}

.shipping-option{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 16px;
  border:1px solid #b7a37a;
  border-radius:8px;
  background:#fff;
  font-size:14px;
}
.inline{
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle; 
}
#sendmail{
  margin-left: 20px;
}
.payment-accordion{
  width: 400px;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}
.checkout{
  width:450px;
  margin:auto;
  padding:10px;
}
.box-portion{
  background:#fff;
  padding:15px;
  border-radius:8px;
}
h3{
  margin-bottom:10px;
  font-size:16px;
}

input,select{
  width:100%;
  padding:10px;
  border:1px solid #b7a37a ;
  border-radius:6px;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;         
  border: 1.5px solid #9f8a61;  
  box-shadow: 0 0 0 2px rgba(194, 210, 18, 0.25);
}

label.error {
  color: red;
  font-size: 12px;
}
label.error::before {
  content: "*";
  color: red;
  font-weight: bold;
}

.btn{
  width:400px;
  margin-left: 15px;
  padding:10px 30px;
  background:#b7a37a;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
}
.btn:hover{
  background:#9f8a61;
}
.error{
  color:red;
  font-size:14px;
  margin-top:-6px;
  margin-bottom:6px;
}


/* footer section*/

.footer {
  padding: 60px 20px 30px;
  font-family: 'Playfair Display', serif;
  background-color: #f7f5f1;
}

/* Newsletter Box */
.newsletter-box {
  max-width: 700px;
  margin: 0 auto 60px;
  background-color: #f7f5f1;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid #9c9c9c;
  padding: 40px 20px;
  text-align: center;
}

.newsletter-box:hover {
  transform: translateY(-7px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.newsletter-box p {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #333;
}

/*Subscribe button newsletter*/
.subscribe-wrapper {
  text-align: center;
}

.subscribe-wrapper input {
  width: 320px;
  max-width: 90%;
  padding: 14px 15px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 18px;
}

.subscribe-wrapper input::placeholder {
  color: #999;
}

.subscribe-wrapper button {
  background: transparent;
  color: #242424;
  border: 2px solid #bfbfbf;
  padding: 12px 32px;
  font-size: 13px;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;

}

.subscribe-wrapper button:hover {
  background: #fff;
  color: #333;
}


/* Footer Content */
.footer-content {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* Brand logo  */
.brand a {
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  color: #000;

}

/*  Links */
.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 14px;

}

.footer-links a:hover {
  color: #000;
}

/* Social Icons */
.social {
  display: flex;
  gap: 15px;
}

.social a {
  color: #333;
  transition: transform 0.3s,
}

.social a:hover {
  transform: scale(1.2);
  color: #000;
}

/* map */
.footer-map {
  margin-top: 15px;
}

.footer-map a {
  display: block;
  align-items: center;
  gap: 8px;
  color: #606060;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-map i {
  font-size: 18px;
  transition: transform 0.3s ease;
}

.footer-map a:hover {
  color: #272727;
}

.footer-map a:hover i {
  transform: translateY(-3px);
}



